#popUpBox{
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3), 16, 0.3, 0, 0);
    -fx-background-color: #E3DBC5;
    -fx-background-radius: 16;
}

#playersBox{
    -fx-pref-height: 309;
    -fx-pref-width: 181;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3), 16, 0.3, 0, 0);
    -fx-background-color: #E3DBC5;
    -fx-background-radius: 16;
}

#phaseBox{
    -fx-pref-height: 70;
    -fx-pref-width: 200;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3), 16, 0.3, 0, 0);
    -fx-background-color: #E3DBC5;
    -fx-background-radius: 16;
}

#fullTowersBox{
    -fx-pref-height: 82;
    -fx-pref-width: 129;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3), 16, 0.3, 0, 0);
    -fx-background-color: #E3DBC5;
    -fx-background-radius: 16;
}

