#basicTurnRoot{
    -fx-pref-height: 140;
    -fx-pref-width: 300;
    -fx-background-color: transparent;
}

#cardRoot{
    -fx-pref-height: 298;
    -fx-pref-width: 166;
    -fx-background-color: transparent;
}

#cardPickerRoot{
    -fx-background-color: #ffffff;
    -fx-pref-width: 754;
}

#loginRoot{
    -fx-pref-width: 300;
    -fx-pref-height: 380;
}

#resultRoot{
    -fx-pref-height: 300;
    -fx-pref-width: 380;
    -fx-background-color: transparent;
}

#playerDataRoot{
    -fx-pref-width: 144;
    -fx-pref-height: 60;
    -fx-background-color: transparent;
}

#waitRoot{
    -fx-pref-height: 106;
    -fx-pref-width: 322;
    -fx-background-color: transparent;
}
