@font-face
{
    -fx-font-family: 'LillyBelle';
    src: url('LillyBelle.ttf');
}

.label{
    -fx-font-family: LillyBelle;
    -fx-text-fill: #636363;
}

#basicTurnLabel{
    -fx-font-size: 18;
}

#playersLabel{
    -fx-text-fill: #626262;
    -fx-font-size: 18;
}

#phaseLabel{
    -fx-text-fill: #626262;
    -fx-font-size: 18;
}

#fullTowersLabel{
    -fx-text-fill: #626262;
    -fx-font-size: 40;
}

#resultLabel{
    -fx-text-fill: #626262;
    -fx-font-size: 30;
}

#playerNameLabel{
    -fx-font-size: 12;
    -fx-font-family: "Minion Pro";
    -fx-text-fill: #626262;
}

#playerCardLabel{
    -fx-font-size: 12;
    -fx-font-family: "Minion Pro";
    -fx-text-fill: #626262;
}

#waitMessageLabel{
    -fx-font-size: 30;
}

