#basicTurnRoot{
    -fx-pref-height: 240;
    -fx-pref-width: 300;
    -fx-background-color: transparent;
}

#cardRoot{
    -fx-pref-height: 298;
    -fx-pref-width: 166;
    -fx-background-color: transparent;
}

#cardPickerRoot{
    -fx-background-color: #ffffff;
    -fx-pref-width: 754;
}