.button{
    -fx-font-family: LillyBelle;
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
    -fx-background-color:  #9E9584;
    -fx-background-radius: 20;
    -fx-pref-height: 20;
    -fx-pref-width: 120;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.1), 16, 0.3, 0, 0);
}

.button:pressed{
    -fx-background-color: #BAB29E;
}

.button:disabled{
    -fx-background-color: #BAB29E;
}

#booleanButtonYes{
    -fx-font-size: 12;
    -fx-pref-height: 20;
    -fx-pref-width: 60;
}

#booleanButtonNo{
    -fx-font-size: 12;
    -fx-pref-height: 20;
    -fx-pref-width: 60;
}

#exitButton{
    -fx-background-radius: 10;
}

