.root{
    -fx-pref-width: 300;
    -fx-pref-height: 380;
}

.button{
    -fx-font-family: LillyBelle;
    -fx-font-size: 16;
    -fx-background-color:  #9E9584;
    -fx-background-radius: 20;
    -fx-pref-height: 20;
    -fx-pref-width: 120;
    -fx-alignment: center;
}

.button:pressed{
    -fx-background-color: #BAB29E;
}

.text-field{
    -fx-font-family: "Minion Pro";
    -fx-font-size: 12;
    -fx-background-color: #9E9584;
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 6;
}

.label{
    -fx-font-family: LillyBelle;
    -fx-text-fill: #626262;
    -fx-font-size: 20;
}

.radio-button {
    -fx-mark-color: #F6ECD0 ;
    -fx-font-family: "Minion Pro";
    -fx-text-fill: #626262;

}

.radio-button .radio{
    -fx-background-color: #9E9584;
}

.radio-button .dot{

}

#terminalPane{
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3), 16, 0.3, 0, 0);
    -fx-background-radius: 6;
    -fx-background-color:  #636363;
}

#terminalLabel{
    -fx-text-fill: #ffffff;
    -fx-font-family: Monaco;
    -fx-font-size: 10;
}

#boxPane{
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3), 16, 0.3, 0, 0);
    -fx-background-color: #E3DBC5;
    -fx-background-radius: 16;
}