#GitIgnore for repository root :ing-sw-2020-Crippa-Dispoto-Facchinetti

#----------- BLACKLIST -----------
#N.B: Blacklist don't needed in other sub-gitignore
# Ignore everything	(rules = 1)
*

#----------- WHITELIST -----------
#N.B: Other gitignore must implement only the whitelist
# Don't Ignore those folders and files

#root	(rules = 3)
!.gitignore
!pom.xml
!README.md

#ASSETS/ (rules = 2) (You can do everything here, this folder has it's own gitignore)
!ASSETS/
!ASSETS/*

#DELIVERABLES/	(rules = 2) (You can do everything here, this folder has it's own gitignore)
!DELIVERABLES/
!DELIVERABLES/*

#Github Resources/     (rules = 2) (You can do everything here, this folder has it's own gitignore)
!Github Resources/
!Github Resources/*

#NetworkCommunications/     (rules = 9)
!NetworkCommunications/
!NetworkCommunications/*.txt
!NetworkCommunications/netJson/
!NetworkCommunications/netJson/msgtoClient/
!NetworkCommunications/netJson/msgtoClient/*.json
!NetworkCommunications/netJson/msgtoClient/*.txt
!NetworkCommunications/netJson/msgToServer/
!NetworkCommunications/netJson/msgToServer/*.json
!NetworkCommunications/netJson/msgToServer/*.txt

#src/	(rules = 1)
!src/

#src/main/	(rules = 2) (this folder has it's own gitignore)
!src/main/
!src/main/*

#src/test	(rules = 2) (this folder has it's own gitignore)
!src/test/
!src/test/*

#Maintained by Gorlenah