 #GitIgnore for repository root :ing-sw-2020-Crippa-Dispoto-Facchinetti

#------ BLACKLIST ------
# Ignore everything	(rules = 1)
*

#------ WHITELIST ------
# Don't Ignore those folders and files

#root	(rules = 3)
!.gitignore
!pom.xml
!README.md

#DELIVERABLES/	(rules = 2) (You can do everything here, this folder has it's own gitignore)
!DELIVERABLES/
!DELIVERABLES/*

#src/	(rules = 2)
!src/
!src/*.json

#test/	(rules = 23)
!src/test/
!src/test/java/
!src/test/java/it/
!src/test/java/it/polimi/
!src/test/java/it/polimi/ingsw/
#model/
!src/test/java/it/polimi/ingsw/model/
!src/test/java/it/polimi/ingsw/model/*.java
!src/test/java/it/polimi/ingsw/model/parser
!src/test/java/it/polimi/ingsw/model/parser/*.java
#model/cards/
!src/test/java/it/polimi/ingsw/model/cards/
!src/test/java/it/polimi/ingsw/model/cards/*.java
#model/cards/effects/*
!src/test/java/it/polimi/ingsw/model/cards/effects/
!src/test/java/it/polimi/ingsw/model/cards/effects/*.java
!src/test/java/it/polimi/ingsw/model/cards/effects/basic
!src/test/java/it/polimi/ingsw/model/cards/effects/basic/*.java
!src/test/java/it/polimi/ingsw/model/cards/effects/build
!src/test/java/it/polimi/ingsw/model/cards/effects/build/*.java
!src/test/java/it/polimi/ingsw/model/cards/effects/move
!src/test/java/it/polimi/ingsw/model/cards/effects/move/*.java
!src/test/java/it/polimi/ingsw/model/cards/effects/remove
!src/test/java/it/polimi/ingsw/model/cards/effects/remove/*.java
!src/test/java/it/polimi/ingsw/model/cards/effects/win
!src/test/java/it/polimi/ingsw/model/cards/effects/win/*.java


#main/	(rules = 23)
!src/main/
!src/main/java/
!src/main/java/it/
!src/main/java/it/polimi/
!src/main/java/it/polimi/ingsw/
#model/
!src/main/java/it/polimi/ingsw/model/
!src/main/java/it/polimi/ingsw/model/*.java
!src/main/java/it/polimi/ingsw/model/parser
!src/main/java/it/polimi/ingsw/model/parser/*.java
#model/cards/
!src/main/java/it/polimi/ingsw/model/cards/
!src/main/java/it/polimi/ingsw/model/cards/*.java
#model/cards/effects/*
!src/main/java/it/polimi/ingsw/model/cards/effects/
!src/main/java/it/polimi/ingsw/model/cards/effects/*.java
!src/main/java/it/polimi/ingsw/model/cards/effects/basic/
!src/main/java/it/polimi/ingsw/model/cards/effects/basic/*.java
!src/main/java/it/polimi/ingsw/model/cards/effects/build/
!src/main/java/it/polimi/ingsw/model/cards/effects/build/*.java
!src/main/java/it/polimi/ingsw/model/cards/effects/move/
!src/main/java/it/polimi/ingsw/model/cards/effects/move/*.java
!src/main/java/it/polimi/ingsw/model/cards/effects/remove/
!src/main/java/it/polimi/ingsw/model/cards/effects/remove/*.java
!src/main/java/it/polimi/ingsw/model/cards/effects/win/
!src/main/java/it/polimi/ingsw/model/cards/effects/win/*.java

#Maintained by Gorlenah