#GitIgnore for root/src/main/

#----------- WHITELIST -----------
# Don't Ignore those folders and files

#-------------------    ROOT
#src/main/  (rules = 64)
!.gitignore

#Java Resources (if you want access it from jar put here) (All files- no restriction)
!resources/*
!resources/CSS/*
!resources/json/*.json
!resources/Images/*
!resources/Images/BoardElements/*
!resources/Images/Cards/*
!resources/Images/Decorations/*
!resources/Images/Web/*

#-------------------    java/it/polimi/ingsw/
!java/
!java/it/
!java/it/polimi/
!java/it/polimi/ingsw/
!java/it/polimi/ingsw/*.java

#client/
!java/it/polimi/ingsw/client/
!java/it/polimi/ingsw/client/*.java
#client/cli
!java/it/polimi/ingsw/client/cli/
!java/it/polimi/ingsw/client/cli/*.java
#client/clientModel
!java/it/polimi/ingsw/client/clientModel/
!java/it/polimi/ingsw/client/clientModel/*.java
!java/it/polimi/ingsw/client/clientModel/basic/
!java/it/polimi/ingsw/client/clientModel/basic/*.java
#client/controller
!java/it/polimi/ingsw/client/controller/
!java/it/polimi/ingsw/client/controller/*.java
!java/it/polimi/ingsw/client/controller/fileUtilities/
!java/it/polimi/ingsw/client/controller/fileUtilities/*.java
!java/it/polimi/ingsw/client/controller/fileUtilities/regex/
!java/it/polimi/ingsw/client/controller/fileUtilities/regex/*.java
#client/gui
!java/it/polimi/ingsw/client/gui/
!java/it/polimi/ingsw/client/gui/*.java
#client/network
!java/it/polimi/ingsw/client/network/
!java/it/polimi/ingsw/client/network/*.java
!java/it/polimi/ingsw/client/network/commands/
!java/it/polimi/ingsw/client/network/commands/*.java
!java/it/polimi/ingsw/client/network/commands/allPhases/
!java/it/polimi/ingsw/client/network/commands/allPhases/*.java
!java/it/polimi/ingsw/client/network/commands/lobbyPhase/
!java/it/polimi/ingsw/client/network/commands/lobbyPhase/*.java
!java/it/polimi/ingsw/client/network/commands/matchPhase/
!java/it/polimi/ingsw/client/network/commands/matchPhase/*.java
!java/it/polimi/ingsw/client/network/commands/finishPhase/
!java/it/polimi/ingsw/client/network/commands/finishPhase/*.java
!java/it/polimi/ingsw/client/network/commandDeserializer/
!java/it/polimi/ingsw/client/network/commandDeserializer/*.java
#client/network/messagesInterfaces/
!java/it/polimi/ingsw/client/network/messagesInterfaces/
!java/it/polimi/ingsw/client/network/messagesInterfaces/*.java
!java/it/polimi/ingsw/client/network/messagesInterfaces/basicInterfaces/
!java/it/polimi/ingsw/client/network/messagesInterfaces/basicInterfaces/*.java
!java/it/polimi/ingsw/client/network/messagesInterfaces/dataInterfaces/
!java/it/polimi/ingsw/client/network/messagesInterfaces/dataInterfaces/*.java
!java/it/polimi/ingsw/client/network/messagesInterfaces/dataInterfaces/lobbyPhase/
!java/it/polimi/ingsw/client/network/messagesInterfaces/dataInterfaces/lobbyPhase/*.java
!java/it/polimi/ingsw/client/network/messagesInterfaces/dataInterfaces/matchPhase/
!java/it/polimi/ingsw/client/network/messagesInterfaces/dataInterfaces/matchPhase/*.java

#controller
!java/it/polimi/ingsw/controller/
!java/it/polimi/ingsw/controller/*.java

#server
!java/it/polimi/ingsw/server/
!java/it/polimi/ingsw/server/*.java
!java/it/polimi/ingsw/server/consoleUtilities/
!java/it/polimi/ingsw/server/consoleUtilities/*.java
!java/it/polimi/ingsw/server/fileUtilities/
!java/it/polimi/ingsw/server/fileUtilities/*.java
!java/it/polimi/ingsw/server/fileUtilities/regex/
!java/it/polimi/ingsw/server/fileUtilities/regex/*.java
!java/it/polimi/ingsw/server/lobbyUtilities/
!java/it/polimi/ingsw/server/lobbyUtilities/*.java
!java/it/polimi/ingsw/server/observers/
!java/it/polimi/ingsw/server/observers/*.java
#server/network
!java/it/polimi/ingsw/server/network/
!java/it/polimi/ingsw/server/network/*.java
!java/it/polimi/ingsw/server/network/commandDeserializer/
!java/it/polimi/ingsw/server/network/commandDeserializer/*.java
!java/it/polimi/ingsw/server/network/commands/
!java/it/polimi/ingsw/server/network/commands/*.java
!java/it/polimi/ingsw/server/network/messagesInterfaces/
!java/it/polimi/ingsw/server/network/messagesInterfaces/*.java

#model/
!java/it/polimi/ingsw/model/
!java/it/polimi/ingsw/model/*.java
!java/it/polimi/ingsw/model/parser/
!java/it/polimi/ingsw/model/parser/*.java
#model/cards/
!java/it/polimi/ingsw/model/cards/
!java/it/polimi/ingsw/model/cards/*.java
#model/cards/effects/*
!java/it/polimi/ingsw/model/cards/effects/
!java/it/polimi/ingsw/model/cards/effects/*.java
!java/it/polimi/ingsw/model/cards/effects/basic/
!java/it/polimi/ingsw/model/cards/effects/basic/*.java
!java/it/polimi/ingsw/model/cards/effects/build/
!java/it/polimi/ingsw/model/cards/effects/build/*.java
!java/it/polimi/ingsw/model/cards/effects/move/
!java/it/polimi/ingsw/model/cards/effects/move/*.java
!java/it/polimi/ingsw/model/cards/effects/remove/
!java/it/polimi/ingsw/model/cards/effects/remove/*.java
!java/it/polimi/ingsw/model/cards/effects/win/
!java/it/polimi/ingsw/model/cards/effects/win/*.java
!java/it/polimi/ingsw/model/cards/effects/global/
!java/it/polimi/ingsw/model/cards/effects/global/*.java

#Maintained by Gorlenah